@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

body
{
	margin: 0; /*setting body's margin to 0*/
  padding: 0; /*setting body's padding to 0*/
  background-image: url("../images/greyback.png"); /*inserting picture optimized in photoshop and setting it as backround for the body*/
 
}
/*styling universal logo*/
div.logo
{
	/*styling image*/
	padding-bottom:20px; /*giving it a little space to the bottom*/
	background-image: url("../images/viperLogo2smaller.png"); /*giving it picture as background*/
   background-repeat:no-repeat; /*make sure that the background will appear only one time*/
   background-position:480px,0px; /*modifying background's position*/
   /*styling text*/
   font-family: 'Playfair Display'; /*using Playfair Display font from Google API fonts as requested*/
   text-align: center; /*aligning text on center of the page*/
   text-shadow:2px 2px 2px #B71C1C; /*letters have red shadow now*/
   font-weight:bold; /*text is bold now*/
   color:#000000; /*text color is black now*/
   letter-spacing:1pt; /*there is 1 point spacing between letters*/
   word-spacing:2pt; /*there are 2 points of spacing between words*/
   font-size:44px; /*size of text is 44 pixels*/
   line-height:1; /*spacing between lines*/
   
}


/*styling content of index*/
div.logoPar
{
   position: relative; /*its position relative to the original*/
    left: 60px; /*and moved 60 pixels from the left from its original position(so moved to the right)*/
	font-size:33px; /*text size is 33px*/
}

.welcomeText
{
	/*styling text*/
	text-align:center; /*aligning welcoming paragraph to center*/
	font-family:'Raleway'; /*using Raleway google font*/
	font-weight:bold; /*letters are bold*/
	font-size:33px; /*font size 33 pixels*/
	color:white; /*color is white*/
	
}
.welcomeImg
{
	/*styling image*/
	display: block; /*image doesn't fall inline with other elements. It is now a block element.*/
	margin: auto;  /*this will center the element in its container*/
}




/*styling about page*/


div.about
{
	/*the content of bio page is a class named "about". this is the styling for this class. it contains a header, a paragraph and an image*/
	color:white; /*color white*/
	padding-bottom:198px; /*the padding of this element will be 198px wide on the bottom*/
	padding-top:10px; /*the padding of this element will be 10px wide on the top*/
	text-align:center; /*it is alligned on the center*/
}
h1.aboutHeader
{
	/*styling sepatatelly the header of division with class name "about"*/
	font-family:'Raleway'; /*raleway font is used here too*/
	font-weight:bold; /*letters are bold*/
	text-shadow:4px 3px 16px rgba(0, 0, 0, 1); /*applying shadow of color black*/
	border-style: solid; /*applying border style solid.*/
	
}
p.aboutPar
{
	/*styling sepatatelly the paragraph of division with class name "about"*/
	font-family:'Raleway'; /*raleway font is used here too*/
	font-size:20px; /*letter size is 20 pixels*/
	font-weight:bold; /*letters are bold*/
	letter-spacing:1pt; /*space between letters is 1 point*/
}



/*styling footers*/
footer
{
	color:white; /*color of text and hr is white*/
	text-align:center; /*text is aligned on center*/
	font-size:20px; /*size of letters is 20 pixels*/
} 
footer #copyrights
{
	/*styling text in the footer separatelly*/
	padding-bottom:0; /*padding is set to 0 because i want no space between text and horizontal rule and between text and bottom*/
	margin:0; /*margin same as padding*/
}