@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Bitter');

body
{
	margin: 0; /*setting body's margin to 0*/
  padding: 0; /*setting body's padding to 0*/
  background-image: url("../images/greyback.png"); /*inserting picture optimized in photoshop and setting it as backround for the body*/
 
}
/*styling universal logo*/
div.logo
{
	/*styling image*/
	padding-bottom:20px; /*giving it a little space to the bottom*/
	background-image: url("../images/viperLogo2smaller.png"); /*giving it picture as background*/
   background-repeat:no-repeat; /*make sure that the background will appear only one time*/
   background-position:480px,0px; /*modifying background's position*/
   /*styling text*/
   font-family: 'Playfair Display'; /*using Playfair Display font from Google API fonts as requested*/
   text-align: center; /*aligning text on center of the page*/
   text-shadow:2px 2px 2px #B71C1C; /*letters have red shadow now*/
   font-weight:bold; /*text is bold now*/
   color:#000000; /*text color is black now*/
   letter-spacing:1pt; /*there is 1 point spacing between letters*/
   word-spacing:2pt; /*there are 2 points of spacing between words*/
   font-size:44px; /*size of text is 44 pixels*/
   line-height:1; /*spacing between lines*/
   
}


/*styling content of index*/
div.logoPar
{
   position: relative; /*its position relative to the original*/
    left: 60px; /*and moved 60 pixels from the left from its original position(so moved to the right)*/
	font-size:33px; /*text size is 33px*/
}


.navBar a.active { /*this division is made to indicate to which page the user is currently visiting*/
  background-color: #D50000; /*background color changes*/
  color: #000000; /*letter color changes to black when the user is at the page that is included in active class*/
  cursor: default; /*cursor is the default shape (most have an arrow)*/
}
 .navBar a {
  text-decoration: none; /*ensuring that there will be no decoration on the text the navigation bar contains*/
  color: #fff; /*text color is white*/
  display: block; /*every link is displayed as an individual block*/
  transition: .3s background-color; /*specifying a transition of 3 seconds to the backround color property*/
}
.navBar ul {
  list-style: none; /*we don't need the dots in front of every word, which is the default style of unordered lists*/
  background-color: #444; /*background color of the navigation bar*/
  text-align: center; /*all of text is alligned on the center. in our case, text on every individual block will be alligned on the center of that block*/
  padding: 0; /*no padding*/
  margin: 0; /*no margin*/
}
.navBar a:hover { /*styling every link inside the navbar ONLY when the user hovers the mouse on one of them*/
  background-color: #B71C1C; /*change the background color when cursor hovers over*/
}
.navBar li { /*styling elements of the list*/
  font-family: 'Oswald', sans-serif; /*setting the font of each element*/
  font-size: 1.2em; /*setting the size of the letters*/
}
 
@media screen and (min-width: 600px) { /*if screen is bigger than 600 pixel then do the following*/
  .navBar li { /*styling elements of the list*/
    width: 120px; /*width of elementt is 120px*/
    height: 50px; /*height of elements is 50px*/
    line-height: 50px; /*each element's height in accordance to the navbar*/
    font-size: 1.4em; /*the font of the text*/
	display: inline-block; /*display each block in line so horizontally*/
    margin-right: -4px; /*make the distance between elements bigger by 4 pixel*/
  }
}	

.welcomeText
{
	/*styling text*/
	text-align:center; /*aligning welcoming paragraph to center*/
	font-family:'Raleway'; /*using Raleway google font*/
	 /*letters are bold*/
	font-size:33px; /*font size 33 pixels*/
	color:white; /*color is white*/
	
}
.welcomeImg
{
	/*styling image*/
	display: block; /*image doesn't fall inline with other elements. It is now a block element.*/
	margin: auto;  /*this will center the element in its container*/
}




/*styling about page*/


div.about
{
	/*the content of bio page is a class named "about". this is the styling for this class. it contains a header, a paragraph and an image*/
	color:white; /*color white*/
	padding-bottom:198px; /*the padding of this element will be 198px wide on the bottom*/
	padding-top:10px; /*the padding of this element will be 10px wide on the top*/
	text-align:center; /*it is alligned on the center*/
}
h1.aboutHeader
{
	/*styling sepatatelly the header of division with class name "about"*/
	font-family:'Raleway'; /*raleway font is used here too*/
	font-weight:bold; /*letters are bold*/
	text-shadow:4px 3px 16px rgba(0, 0, 0, 1); /*applying shadow of color black*/
	border-style: solid; /*applying border style solid.*/
	
}
p.aboutPar
{
	/*styling sepatatelly the paragraph of division with class name "about"*/
	font-family:'Raleway'; /*raleway font is used here too*/
	font-size:20px; /*letter size is 20 pixels*/
	font-weight:bold; /*letters are bold*/
	letter-spacing:1pt; /*space between letters is 1 point*/
}

#cvBody
{
	color:white; /*any text inside the body of CV page will be white*/
}
.cv_title
{
	font-family:'Raleway'; /*the main title will be of font Raleway*/
	font-size:50px; /*letter size is 50 pixel*/
	text-align:center; /*text will be aligned in center*/
	border-style:solid; /*border style is solid (straight line)*/
	
}
.first_set /*modifying the first set of columns*/
{
	font-family:'Raleway'; /*font is raleway*/
	display:block; /*this separates this set from the other*/
	padding-left:300px; /*padding on the left is 300 pixel*/
	font-size:20px; /*size of letters is 20 pixels*/
}
.first_set .first_column
{
	display: block; /*separates this column from the others*/
    float: left; /*this will align to the left*/
	overflow:auto; /*overflow is auto*/
	margin-right:40px; /*margin to the right is 40 px*/
	
}
.first_set .second_column
{
	display: block;
    overflow:auto;
	margin-right:40px;
}
.rel_course
{
	font-family:'Raleway';
	font-size:20px;
	display:block;
	padding-left:300px;
}
.prof_exp
{
	font-family:'Raleway';
	font-size:20px;
	display:block;
	padding-left:300px;
}
.activities
{
	font-family:'Raleway';
	font-size:20px;
	display:block;
	padding-left:300px;
}
form {
	color:white; /*color of text and hr is white*/
	text-align: center;  /*text is aligned on center*/
	-webkit-appearance: none;
}

/*styling footers*/
footer
{
	color:white; /*color of text and hr is white*/
	text-align:center; /*text is aligned on center*/
	font-size:20px; /*size of letters is 20 pixels*/
} 
footer #copyrights
{
	/*styling text in the footer separatelly*/
	padding-bottom:0; /*padding is set to 0 because i want no space between text and horizontal rule and between text and bottom*/
	margin:0; /*margin same as padding*/
}